.multicol .shiny-options-group{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2;    /* Firefox */
    column-count: 2;
  -moz-column-fill: balanced;
  -column-fill: balanced;
}

.main-header .navbar {
    margin-left: 400px;
}

.main-header .logo {
    width: 400px;
}

.checkbox{
  margin-top: 5px !important;
  -webkit-margin-after: 0px !important;
}
/* body */
  .content-wrapper, .right-side {
    background-color: #FFFFFF;
  }

/* logo */
  .skin-blue .main-header .logo {
    background-color: #ffc300;
  }

/* logo when hovered */
  .skin-blue .main-header .logo:hover {
    background-color: #ffcb07;
  }

/* navbar (rest of the header) */
  .skin-blue .main-header .navbar {
    background-color: #ffc300;
  }

/* main sidebar */
  .skin-blue .main-sidebar {
    background-color: #ffcb07;
  }

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: rgb(107,194,0);
color: rgb(255,255,255);font-weight: bold;font-size: 18px;
}

/* other links in the sidebarmenu */
  .skin-blue .main-sidebar .sidebar .sidebar-menu a{
    background-color: #ffcb07;
      color: #FFFFFF;
  }

/* other links in the sidebarmenu when hovered */
  .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
    background-color: #32FE96;
    color: rgb(255,255,255);font-weight: bold;font-size: 18px;
  }

  .skin-blue .main-header .navbar .sidebar-toggle {
        color: #000000;
  }

/* toggle button when hovered  */
  .skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #32FE96;
  }
  .skin-blue .main-sidebar .sidebar .sidebar-menu a {
    color: #000000;
  }
  .skin-blue .main-header .logo {
   color: #000000;
  }
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  border-left-color: #ff0000;
}

  .skin-blue .sidebar a {
                color: #000000;
  }


h3, h4 {
  margin-top: 4px;
}
.rightAlign{float:right;}
.leftAlign{float:left;}
.centerAlign {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
    text-align: left;
}
.centerAlign > .child {
  position: relative;
  left: 50%;
}
.well {
  padding: 10px;
}
.tab-pane {
  padding-left: 10px;
}'


.tabs-above > .nav > li > a {
 background-color: #ffff96;
}
.tabs-above > .nav > li[class=active] > a {
  background-color: #64FA7D;
}

div.col-sm-2 {padding:1px}

.main-sidebar { font-size: 20px; }

